@import './../../sources/styles/mixins.scss';


.sectionsContainer {

  background-color: aqua;
  padding: 36px 60px 0 60px;

  @include desktop {
    padding: calc(1px + (60 - 0)* ((100vw - 320px) / (1440 - 320)));
  }
}


