@import 'sources/styles/mixins.scss';

.container {
  flex: 1 !important;
  max-width: 100%;
  min-height: 100% !important;
  overflow: hidden;
  box-sizing: content-box;
  margin: 0 auto;
  @include flex;
  @include flex-direction(column);
  position: relative;

  .header {
    @include flex(flex-start, space-between);
    width: 100%;
    z-index: 10;
    min-height: 142px;
    box-sizing: border-box;
    background-color: $pageBackground !important;
    padding: 40px 104px 0px 40px;
  
  }

  .main {
    width: 100%;

    position: relative;
    z-index: 3;

    .sider {
      background-color: $pageBackground;
      min-width: 323px !important;
    }

    .content {
      background: #FFFFFF;
      padding: 0;
      margin: 0;
    }
  }

  .footer {
    background-color: $pageBackground;
    padding: 0;
    z-index: 10;
    flex: 0 0 auto;
    width: 100%;
  }

}
