@import './../../sources/styles/mixins.scss';

.iconContainer {
    position: relative;
    height: 100%;
    width: 63px;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        //opacity: 0.8;

        &:nth-child(2) {
            z-index: 0;
            left: 11px;
        }

        &:nth-child(1) {
            z-index: 1;
            left: 0px;
        }

        &:last-child {
            z-index: -1;
            left: 25px;
        }
    }
}