@import 'sources/styles/mixins.scss';

.cardWrapper {
  cursor: pointer;
  height: 90px;
  padding-bottom: 39px;

  .cardTitle {
    @include text-style(18.5px, 500, 27.75px, $color: #ffffff);

  }

  .text {
    @include text-style(13.5px, 500, 20px, $color: #5C628A);
    margin-top: 3px !important;
  }
}


