@import 'sources/styles/mixins.scss';
.contentWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 764px;
  padding: 0 0 0 40px;

  .title {
    margin: 20px 0px 50px 0px !important;
    @include text-style(19.5px, 500, 29.25px, $color: #ffffff);
  }

}
