@import './../../sources/styles/mixins.scss';

.menuList {
    width: 600px !important;
    border-style: none !important;
    @include flex(flex-start !important, space-between !important);
    height: 100% !important;
    box-sizing: content-box;

    .menuItem {
        @include flex(center, center);
        @include text-style(18px, 400, 24px, $color: $menuText !important);

        background: none !important;
        padding: 0 !important;
        //min-height: 100%;
        margin: 0px !important;

        position: relative;

        &:last-child::before {
            content: "SOON";
            @include text-style(8.5px, 500, 13px, $color: #182266);
            @include flex(center, center);
            @include width-height(42px, 16px);
            @include position-absolute($top: 0px, $right: 45px);
            background-color: #FFFFFF;
            border-radius: 8.5px;
        }

        &::after {
            border-style: none !important;
        }

        &:visited,
        &:focus,
        &:active {
            color: $menuActiveText !important;

            &:not(:last-child):after {
                content: "●";
                @include width-height(8px, 8px);
                @include position-absolute($left: 50%, $top: 20px);
                color: #8AC6FD;
            }
        }


    }
}
